* {
    font-family: Arial, Helvetica, sans-serif;
}

.img-thumbnail {
    height: 40px;
    width: 175px;
}

.post_photo {
    display: block;
    width: 350px;
    height: 270px;
}

/*---------------------profile picture on PROFILE PAGE--------------*/
.img_profile {
    height: 150px;
    width: 160px;
}


/*---------------------profile picture on FEED PAGE--------------*/
.profile_image_feed_page {
    height: 60px;
    width: 60px;
}

.name {
    display: inline-block;
}